img {
  width: 20%;
  float: left;
  margin-right: 10px;
  padding: 10px;
}

.sidebar{
  float: right;
  background-color: green;
  width: 25%;
  padding: 20px;
  margin-left: 5px;
}
.main {
  width: 70%;
  float: left;
  border: 5px solid orange;
  border-radius: 11px;
}
